@model IEnumerable<WebApp.Models.AwardModel>

@{
    ViewBag.Title = "Index";
}

<h2>Награды</h2>

<p>
    @Html.ActionLink("Добавить награду", "Add")
</p>
<table class="table table-hover table-bordered">
    <tr>
        <th>
            Изображение
        </th>
        <th>
            Название
        </th>
    </tr>

@foreach (var item in Model) 
{
    <tr>
        <td>
            <img src="@Url.Action("GetImage", new {awardId = item.Id})"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
    </tr>
}

</table>
